BasedOnStyle: LLVM
ColumnLimit: 80

# Força quebrar os parâmetros de funções em linhas separadas, se não couberem numa só linha
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false

# Mantém alinhamento de colchetes e parênteses
AlignAfterOpenBracket: Align

IndentWidth: 2
TabWidth: 2
UseTab: Never

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
